  @model TrueMatch.Models.Data.Complain

@{
    ViewData["Title"] = "Contact Us";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}
  <!-- ==========Page Header Section Start Here========== -->
<section class="page-header-section style-1" style="background:url(assets/images/page-header.jpg)">
    <div class="container">
        <div class="mt-2 text-center ">
            Contact Us
        </div>
        <div class="page-header-content">
            <div class="page-header-inner">
                <div class="page-title mt-3">
                    <h2>TrueMatch Contact Us</h2>
                </div>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Contact Us</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- ==========Page Header Section Ends Here========== -->
<!-- Contact Us Section Start Here -->
<div class="contact-section">
    <div class="contact-top padding-tb aside-bg padding-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <article class="contact-form-wrapper">
                        <div class="contact-form">
                            <h4>If you need any help feel free to Contact Us</h4>
                            <p class="mb-5">
                                our team will response as soon as possible to solve your problem.
                            </p>

                            <form asp-action="ContactUs" method="post" class="comment-form">
                                @Html.AntiForgeryToken()

                                <input asp-for="Name" class="form-control mb-2 text-white" placeholder="Name*" />
                                <span asp-validation-for="Name" class="text-danger"></span>

                                <input asp-for="Subject" class="form-control mb-2 text-white" placeholder="Subject*" />
                                <span asp-validation-for="Subject" class="text-danger"></span>

                                <textarea asp-for="Message" class="form-control mb-2 text-white" rows="5" placeholder="Message*"></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                                <input type="hidden" asp-for="Email" value="@Context.Session.GetString("Email")" />
                                <button type="submit" class="lab-btn">
                                    <span>Send Our Message</span>
                                </button>
                            </form>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info-wrapper">
                        <div class="contact-info-title">
                            <h5>Get Information</h5>
                            <p>
                                Our Contact information Details and
                                Follow us on social media
                            </p>
                        </div>
                        <div class="contact-info-content">
                            <div class="contact-info-item">
                                <div class="contact-info-inner">
                                    <div class="contact-info-thumb">
                                        <img src="~/assets/images/contact/01.png" alt="address">
                                    </div>
                                    <div class="contact-info-details">
                                        <span class="fw-bold">Office Address</span>
                                        <p>1201 park street, Fifth Avenue</p>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-info-item">
                                <div class="contact-info-inner">
                                    <div class="contact-info-thumb">
                                        <img src="~/assets/images/contact/02.png" alt="address">
                                    </div>
                                    <div class="contact-info-details">
                                        <span class="fw-bold">Phone Number</span>
                                        <p>+22698 745 632,02 982 745</p>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-info-item">
                                <div class="contact-info-inner">
                                    <div class="contact-info-thumb">
                                        <img src="~/assets/images/contact/03.png" alt="address">
                                    </div>
                                    <div class="contact-info-details">
                                        <span class="fw-bold">Send Mail</span>
                                        <p>admintruematch@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-info-item">
                                <div class="contact-info-inner">
                                    <div class="contact-info-thumb">
                                        <img src="~/assets/images/contact/04.png" alt="address">
                                    </div>
                                    <div class="contact-info-details">
                                        <span class="fw-bold">Our Website</span>
                                        <p>www.truematch-dating.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-bottom">
        <div class="contac-bottom">
            <div class="row justify-content-center g-0">
                <div class="col-12">
                    <div class="location-map">
                        <div id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d228225.89119998863!2d-82.1359357856101!3d26.64753629985287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88db44a7e78016f5%3A0xafd1a4163a9b6ff2!2sCape%20Coral%2C%20FL%2C%20USA!5e0!3m2!1sen!2sbd!4v1616562014411!5m2!1sen!2sbd"
                                    allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Contact Us Section ENding Here -->