    <!-- ================ Banner Section start Here =============== -->
<section class="banner-section">
    <div class="container">
        <div class="section-wrapper mt-5">
            <div class="row align-items-end">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <div class="intro-form">
                            <div class="intro-form-inner">
                                <h3>Introducing TrueMatch</h3>
                                <p>
                                    Serious Dating With <strong>TrueMatch </strong> Your Perfect
                                    Match is Just a Click Away.
                                </p>
                                <form method="post" asp-controller="UserProfile" asp-action="FindPartner" class="banner-form">
                                    <div class="gender">
                                        <label for="gender" class="left">I am a</label>
                                        <div class="custom-select right">
                                            <select name="gender" id="gender">
                                                <option value="">Select Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="person">
                                        <label for="lookingFor" class="left">Looking for</label>
                                        <div class="custom-select right">
                                            <select name="lookingFor" id="lookingFor">
                                                <option value="">Select Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="age">
                                        <label for="ageStart" class="left">Age</label>
                                        <div class="right d-flex justify-content-between">
                                            <div class="custom-select">
                                                <select name="ageStart" id="ageStart">
                                                    @for (int i = 18; i <= 70; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                    <option value="70+">70+</option>
                                                </select>
                                            </div>
                                            <div class="custom-select">
                                                <select name="ageEnd" id="ageEnd">
                                                    @for (int i = 18; i <= 70; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                    <option value="70+">70+</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="city">
                                        <label for="city" class="left">City</label>
                                        <input name="city" class="right" type="text" id="city" placeholder="Your City Name..">
                                    </div>
                                    <button type="submit">Find Your Partner</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-thumb">
                        <img src="assets/images/banner/01.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="all-shapes">
        <img src="assets/images/banner/banner-shapes/01.png" alt="shape" class="banner-shape shape-1">
        <img src="assets/images/banner/banner-shapes/02.png" alt="shape" class="banner-shape shape-2">
        <img src="assets/images/banner/banner-shapes/03.png" alt="shape" class="banner-shape shape-3">
        <img src="assets/images/banner/banner-shapes/04.png" alt="shape" class="banner-shape shape-4">
        <img src="assets/images/banner/banner-shapes/05.png" alt="shape" class="banner-shape shape-5">
        <img src="assets/images/banner/banner-shapes/06.png" alt="shape" class="banner-shape shape-6">
        <img src="assets/images/banner/banner-shapes/07.png" alt="shape" class="banner-shape shape-7">
        <img src="assets/images/banner/banner-shapes/08.png" alt="shape" class="banner-shape shape-8">
    </div>
</section>
<!-- ================ Banner Section end Here =============== -->