@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- x-icon -->
    <link rel="shortcut icon" href="~/assets/images/x-icon.png" type="image/x-icon">

    <!-- Other css -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/icofont.min.css">
    <link rel="stylesheet" href="~/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <title>TrueMatch</title>
</head>

<body>
    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->
    @inject IHttpContextAccessor HttpContextAccessor
    @{
        var userName = HttpContextAccessor.HttpContext?.Session.GetString("UserName");
    }
    @if (string.IsNullOrEmpty(userName))
    {
        <a asp-area="Admin" asp-controller="Account" asp-action="Login" class="d-none"></a>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="icofont-rounded-up"></i></a>
    <!-- scrollToTop ending here -->
    <!-- Core JS Files -->
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/swiper.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/functions.js"></script>

    <!-- Add this for dropdown menu functionality -->
    <script>
        $(document).ready(function(){
            $('.dropdown-toggle').dropdown();
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>