<!-- ==========Page Header Section Start Here========== -->
<section class="page-header-section style-1" style="background:url(~/assets/images/page-header.jpg)">
    <div class="container">
        <div class="page-header-content">
            <div class="page-header-inner">
                <div class="page-title">
                    <h2>TrueMatch Find Your Dating Partner</h2>
                </div>
                <ol class="breadcrumb">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="active">Members</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- ==========Page Header Section Ends Here========== -->
<section class="member-page-section">
    <div class="container">
      <div class="member-wrapper">
            <div class="row g-3 row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center">
                <div class="col">
                    <div class="lab-item member-item style-1 style-2">
                        <div class="lab-inner">
                            <div class="lab-thumb">
                                <img src="~/assets/images/member/01.jpg" alt="member-img">
                            </div>
                            <div class="lab-content">
                                <h6><a href="profile.html">Tenma Shyna</a> </h6>
                                <p>Active 1 Day</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="lab-item member-item style-1 style-2">
                        <div class="lab-inner">
                            <div class="lab-thumb">
                                <img src="~/assets/images/member/02.jpg" alt="member-img">
                            </div>
                            <div class="lab-content">
                                <h6><a href="profile.html">Maya Statham</a> </h6>
                                <p>Active 1 Day</p>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
       </div>
     </div>
</section>